:root {
    --color-block-1: #7B93DB;
    --color-block-2: #4C63B6;
    --color-block-3: #2D3A8C;
    --color-block-4: #EF4E4E;

    --color-text-light: #F5F7FA;
    --color-text-dark: #3E4C59;

    --color-back: #F5F7FA;
}
html { box-sizing: border-box; }
*, *:before, *:after {
box-sizing: inherit;
}  
body, div, span, h1, h2, h3, h4, aside, p, main, nav, ul, li {
   margin: 0;
   padding: 0;
   list-style: none;
}


body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: var(--color-text-dark);
    background-color: var(--color-back);
}
h2, h3, h4 { 
    font-weight: 300;
}
.container {
	padding: 25px;
    width: 100%;
 }
 .container > div {
     background-color: #616E7C;
     color: white;
     border: 0;
     border-radius: 3px;
     padding: 1.5em;
	 box-shadow: 2px 2px 2px 2px hsla(0,0%,75%,0.2);
 }

/* add your styles */
.container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 175px 75px 175px 275px;
    text-align: center;

}

.aWidth {
    grid-column: span 2;
    grid-row: span 1;
}
.bWidth {
    grid-column: span 2;
    grid-row: span 1;
    
}
.cWidth {
    grid-column: span 2;
    grid-row: span 1;
}
.dWidth {
    grid-column: span 2;
    grid-row: span 1;
    
}
.eWidth {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
}
.fWidth {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
}
.gWidth {
    grid-column: span 2;
    grid-row: span 2;
}
.hWidth {
    grid-column: span 4;
    grid-row: span 2;
}
.iWidth {
    grid-column: span 1;
    grid-row: span 1;
}
.jWidth {
    grid-column: span 1;
    grid-row: span 1;
    padding-bottom: auto;
}
.kWidth {
    display: inline;
    grid-column: span 2;
    grid-row: span 1;
}
.lWidth {
    grid-column: span 2;
    grid-row: span 1;
}
.mWidth {
    grid-column: span 2;
    grid-row: span 1;

}
.nWidth {
    grid-column: span 2;
    grid-row: span 1;
}
.oWidth {
    grid-column: span 2;
    grid-row: span 1;
}
.pWidth {
    grid-column: span 2;
    grid-row: span 1;
}
.qWidth {
    grid-column: span 4;
    grid-row: span 1;
}

img {
    max-width: 100%;
    max-height: 100%;
}
video{
    max-width: 100%;
    max-height: 100%;
}


/* styles for mobile portrait screen */
@media only screen and (max-width:850px) {
    body{
        font-size: .5em;
    }
	.container{
        grid-template-columns: 1fr;
    }
    .aWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .bWidth {
        grid-column: span 1;
        grid-row: span 1;
        
    }
    .cWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .dWidth {
        grid-column: span 1;
        grid-row: span 1;
        
    }
    .eWidth {
        grid-column: span 1;
        grid-row: span 1;
        
    }
    .fWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .gWidth {
        grid-column: span 1;
        grid-row: span 2;
        margin: auto;
    }
    .hWidth {
        grid-column: span 1;
        grid-row: span 2;
    }
    .iWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .jWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .kWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .lWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .mWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .nWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .oWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .pWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
    .qWidth {
        grid-column: span 1;
        grid-row: span 1;
    }
}


/* styles for tablet portrait and mobile landscape screens */
@media only screen and (min-width:850px) and (max-width: 1150px) {
    body{
        font-size: .75em;
    }
    a{
        font-size: .5em;
    }
    

}
